<!DOCTYPE html>
<html lang="en">
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    "
  >
    <main>
      <section>
        <div
          style="
            margin: 20px auto;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
          "
        >
          <!-- HEADER -->
          <div
            style="
              border-bottom: 1px solid #ddd;
              padding-bottom: 15px;
              text-align: center;
            "
          >
            <h2
              style="
                color: #0fb1ce;
                margin: 0;
                font-size: 28px;
                font-weight: 700;
              "
            >
              Homiq
            </h2>
          </div>

          <!-- CONTENT -->
          <div style="padding: 20px 0; border-bottom: 1px solid #ddd">
            <h1
              style="
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 20px;
                color: #333;
              "
            >
              Thank you, <span style="color: #11d38f"><%= name %></span> for
              contacting us
            </h1>

            <p
              style="
                font-size: 16px;
                line-height: 1.5;
                margin: 12px 0;
                color: #444;
              "
            >
              Dear <%= name %>,
            </p>

            <p
              style="
                font-size: 16px;
                line-height: 1.5;
                margin: 12px 0;
                color: #444;
              "
            >
              We received your message from
              <strong><%= email %></strong> and our team will get back to you as
              soon as possible.
            </p>

            <p
              style="
                font-size: 16px;
                line-height: 1.5;
                margin: 12px 0;
                color: #444;
              "
            >
              <strong>Your Message:</strong>
            </p>

            <p
              style="
                font-size: 16px;
                line-height: 1.5;
                margin: 12px 0;
                color: #444;
              "
            >
              <%= message %>
            </p>

            <p
              style="
                font-size: 16px;
                line-height: 1.5;
                margin: 12px 0;
                color: #444;
              "
            >
              Stay tuned—we can’t wait to help you find your dream home!
            </p>

            <p
              style="
                font-size: 16px;
                line-height: 1.5;
                margin: 12px 0;
                color: #444;
              "
            >
              Start exploring today and let us guide you every step of the way.
            </p>

            <a
              href="https://homiq.ahmedrehandev.net"
              style="
                display: inline-block;
                width: 100%;
                text-align: center;
                margin-top: 20px;
                background-color: #0fb1ce;
                color: #fff;
                padding: 12px 0;
                font-size: 18px;
                font-weight: 700;
                border-radius: 6px;
                text-decoration: none;
              "
              >Visit Homiq</a
            >
          </div>

          <!-- FOOTER -->
          <div
            style="
              padding: 20px;
              text-align: center;
              font-size: 14px;
              color: #777;
            "
          >
            <p style="margin: 8px 0">&copy; 2025 Homiq. All rights reserved.</p>
            <p style="margin: 8px 0">
              <a
                href="https://homiq.ahmedrehandev.net"
                style="color: #0fb1ce; text-decoration: none"
                >Homiq.com</a
              >
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
